@import url('../index.module.css');

.navBar {
  width: var(--page-width-lg);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

@media (max-width: 1000px) {
  .navBar {
    width: var(--page-width-md);
  }
}

@media (max-width: 750px) {
  .navBar {
    width: var(--page-width-sm);
  }
}

.homeLink {
  grid-column: 2;
  justify-self: center;
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
}

.homeLink:hover {
  text-decoration: underline;
}

.iconContainer {
  cursor: pointer;
  grid-column: 3;
  justify-self: end;
  align-self: center;
  color: black;
  opacity: 1;
}

.iconContainer:hover {
  opacity: 0.5;
}
